<section class="blog" id="blog-articles">
    <div class="container">
        <h2 class="title">BLOG</h2>
        <h3 class="subtitle">Latest Expert
            Design Tips & Insights
        </h3>
        <div class="blog-tips">
            <ul class="blog-tips-list">
                <li class="blog-tips-item">
                    <article>
                        <div class="blog-tips-item-img">
                            <img src="../img/" alt="img_typography">
                            <p>TYPOGRAPHY</p>
                        </div>
                        <div class="blog-tips-item-descr">
                            <h4>Mastering the Art of Typography: Tips for Eye-Catching Designs</h4>
                            <p>5 APRIL 2024</p>
                        </div>
                    </article>
                </li>
                <li class="blog-tips-item">
                    <article>
                        <div class="blog-tips-item-img">
                            <img src="../img/" alt="img_ui-ux-design">
                            <p>UI/UX DESIGN</p>
                        </div>
                        <div class="blog-tips-item-descr">
                            <h4>The Ultimate Guide to UI/UX: Enhancing App User Experience</h4>
                            <p>16 MARCH 2024</p>
                        </div>
                    </article>
                </li>
                <li class="blog-tips-item">
                    <article>
                        <div class="blog-tips-item-img">
                            <img src="../img/" alt="img_typography">
                            <p>TYPOGRAPHY</p>
                        </div>
                        <div class="blog-tips-item-descr">
                            <h4>2024 Graphic Design Trends: What Would Be the Future of Design?</h4>
                            <p>27 FEBRUARY 2024</p>
                        </div>
                    </article>
                </li>
            </ul>
            
        </div>
        <div class="blog-tips-scrollbar">
            <img src="../img/" alt="<">
            <img src="../img/" alt=".">
            <img src="../img/" alt=".">
            <img src="../img/" alt=".">                 
            <img src="../img/" alt=">">                 
        </div>
    </div>
</section>