<section class="categories">
    <div class="container">
        <h2>CATEGORIES</h2>
        <p>What are You
            Looking For Here?
        </p>
        <ol class="categories-list">
            <li class="categories-item">
                <a href="#">
                    <img src="../img/" alt="UI Kits
                    Design">
                    <p>/ 01</p>
                    <p>UI Kits
                        Design</p>
                </a>
            </li>
            <li class="categories-item">
                <a href="#">
                    <img src="../img/" alt="Social
                    Media">
                    <p>/ 02</p>
                    <p>Social
                        Media</p>
                </a>
            </li>
            <li class="categories-item">
                <a href="#">
                    <img src="../img/" alt="Font
                    Design">
                    <p>/ 03</p>
                    <p>Font
                        Design</p>
                </a>
            </li>
            <li class="categories-item">
                <a href="#">
                    <img src="../img/" alt="PPT
                    Slides">
                    <p>/ 04</p>
                    <p>PPT
                        Slides</p>
                </a>
            </li>
            <li class="categories-item">
                <a href="#">
                    <img src="../img/" alt="Illust
                    Design">
                    <p>/ 05</p>
                    <p>Illust
                        Design</p>
                </a>
            </li>
            <li class="categories-item">
                <a href="#">
                    <img src="../img/" alt="Print
                    Template">
                    <p>/ 06</p>
                    <p>Print
                        Template</p>
                </a>
            </li>
        </ol>
    </div>
</section>