<section class="creators">
    <div class="container">
        <h2 class="title">CREATORS</h2>
        <div class="">
            <h3 class="subtitle">Top Creators</h3>
            <p>Explore All Creators</p>
            <button type="button">></button>
        </div>
        <div>
            <ul>
                <li>
                    <article class="latest-product">
                        <img src="../img/" alt="visual-vibe-arts">
                        <h4>Visual Vibe Arts</h4>
                        <p>120+ Works</p>
                        <button class="latest-product-btn" type="button">See Works</button>
                    </article> 
                </li>
                <li>
                    <article class="latest-product">
                        <img src="../img/" alt="code-wizards">
                        <h4>Code Wizards</h4>
                        <p>80+ Works</p>
                        <button class="latest-product-btn" type="button">See Works</button>
                    </article> 
                </li>
                <li>
                    <article class="latest-product">
                        <img src="../img/" alt="pixel-perfect">
                        <h4>Pixel Perfect</h4>
                        <p>200+ Works</p>
                        <button class="latest-product-btn" type="button">See Works</button>
                    </article> 
                </li>
                <li>
                    <article class="latest-product">
                        <img src="../img/" alt="animate-canvas">
                        <h4>Animate Canvas</h4>
                        <p>60+ Works</p>
                        <button class="latest-product-btn" type="button">See Works</button>
                    </article> 
                </li>
                <li>
                    <article class="latest-product">
                        <img src="../img/" alt="modernist-logos">
                        <h4>Modernist Logos</h4>
                        <p>150+ Works</p>
                        <button class="latest-product-btn" type="button">See Works</button>
                    </article> 
                </li>
            </ul>
        </div>
    </div>
</section>