<section class="faq">
    <div class="container">
        <div class="faq-info">
            <h2 class="title">F.A.Q</h2>
            <h3 class="subtitle">Answers to
                Your Questions
            </h3>
            <button type="button">Ask Us A Question</button>
        </div>
        <div class="faq-popular">
            <details class="faq-list">
                <summary class="faq-item">
                    Can I request a refund?
                </summary>
            </details>
            <details class="faq-list">
                <summary class="faq-item">
                    How do I access my purchased products?
                </summary>
                <p>Accessing your purchased products is seamless and hassle-free on our digital design marketplace. Simply log in to your account, navigate to the 'My Purchases' section.</p>
            </details>
            <details class="faq-list">
                <summary class="faq-item">
                    Are there any discounts for bulk purchases?
                </summary>
            </details>
            <details class="faq-list">
                <summary class="faq-item">
                    What payment methods do you accept here?
                </summary>
            </details>
            <details class="faq-list">
                <summary class="faq-item">
                    Can I sell my digital products on this marketplace?
                </summary>
            </details>
        </div>
    </div>
</section>