<section class="footer">
    <div class="container">
        <div class="footer-head">
            <a href="#">
                <img src="../img/" alt="pixmart">
            </a>
            <p>Your premium digital assets solution with high quality and comprehensive range of products and services.</p>
            <div class="footer-nav">
                <h4>Company</h4>
                <nav>
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <a href="#homepage">Homepage v3</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#about-us">About Us</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#creator">Creators</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#blog-articles">Blog Articles</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer-company-info">
                <h4>Products</h4>
                <ul class="footer-company-inflist">
                    <li class="footer-company-info-item">
                        <a href="#">Website</a>
                    </li>
                    <li class="footer-company-info-item">
                        <a href="#">Mobile App</a>
                    </li>
                    <li class="footer-company-info-item"> 
                        <a href="#">Social Media Feeds</a>
                    </li>
                    <li class="footer-company-info-item">
                        <a href="#">Presentation</a>
                    </li>
                    <li class="footer-company-info-item">
                        <a href="#">Product Mockups</a>
                    </li>
                    <li class="footer-company-info-item">
                        <a href="#">Illustrations</a>
                    </li>
                </ul>
            </div>
            <div class="footer-products">
                <h4>Account</h4>
                <ul class="footer-products-list">
                    <li class="footer-products-item">
                        <a href="#">Your Cart</a>
                    </li>
                    <li class="footer-products-item">
                        <a href="#">Check Out</a>
                    </li>
                    <li class="footer-products-item">
                        <a href="#">Refund Policy</a>
                    </li>
                    <li class="footer-products-item">
                        <a href="#">Company Policy</a>
                    </li>
                    <li class="footer-products-item">
                        <a href="#">Send A Message</a>
                    </li>
                    <li class="footer-products-item">
                        <a href="#">Customer Support</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-subscribe-part">
            <div class="footer-subscribe">
                <p>Subscribe to Newsletter</p>
                <input type="text">
                <button class="footer-subscribe-btn" type="button">Subscribe</button>
            </div>
            <div class="footer-follow-us">
                <h4>Follow Us</h4>
                <ul class="footer-follow-us-list">
                    <li class="footer-follow-us-item">
                        <a href="#">
                            <img src="../img/" alt="tw">
                        </a>
                    </li>
                    <li class="footer-follow-us-item">
                        <a href="#">
                            <img src="../img/" alt="ig">
                        </a>
                    </li>
                    <li class="footer-follow-us-item">
                        <a href="#">
                            <img src="../img/" alt="fb">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <ul class="footer-bottom-list">
                <li class="footer-bottom-item">
                    <a href="#">Privacy Policy</a>
                </li>
                <li class="footer-bottom-item">
                    <a href="#">Terms and Condition</a>
                </li>
                <li class="footer-bottom-item">
                    <a href="#">Site Map</a>
                </li>
            </ul>
            <p class="footer-copyright">Copyright © 2024 Pixmart. All rights reserved.</p>
        </div>
    </div>
</section>