<header class="header">
    <div class="container">
        <a href="#" id="homepage">
            Pixmart.
        </a>
        <nav class="header-navigation">
            <ul class="header-navigation-list">
                <li class="header-navigation-item">
                    <a href="#">About</a>
                </li>
                <li class="header-navigation-item">
                    <a href="#">
                        Products
                        <img src="../img/" alt="icon_v">
                    </a>
                </li>
                <li class="header-navigation-item">
                    <a href="#">
                        Creators
                        <sup class="header-navigation-item-superscript">new</sup>
                    </a>
                </li>
                <li class="header-navigation-item">
                    <a href="#">Blog</a>
                </li>
                <li class="header-navigation-item">
                    <a href="#">Contact</a>
                </li>
            </ul>
            <ul class="header-actions">
                <li class="header-actions-login">
                    <button class="header-actions-button" type="button">
                        <img src="../img/" alt="login_icon">
                    </button>
                </li>
                <li class="header-actions-cart">
                    <button class="header-actions-button" type="button">
                        <img src="../img/" alt="cart_icon">
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</header>