<section class="hero" id="about-us">
    <div class="container">
        <div class="hero-describe-part">
            <h1>Ignite Your Creativity
                with <span class="accent">Premium</span> Designs
            </h1>
            <p>
                Discover, explore, and purchase the finest digital design assets that is tailored for your needs, all within our platform.
            </p>
            <div class="search-bar">
                <input class="search-bar-input" type="text">
                <button class="search-bar-btn" type="button">Search Now</button>
            </div>
        </div>
        <div class="hero-images-part">
            <img src="../img/" alt="big_img">
            <img src="../img/" alt="medium_img">
            <img src="../img/" alt="small_img">
            <div class="hero-sum-info">
                <p class="hero-sum-info-num">10,000+</p>
                <p class="hero-sum-info-text">Digital Design Assets</p>
            </div>

        </div>
    </div>
</section>