<section class="new-release">
    <div class="container">
        <h2 class="title">NEW RELEASE</h2>
        <div>
            <h3 class="subtitle">Latest Products</h3>
            <p>Explore Latest Works</p>
            <button type="button">></button>
        </div>
        <div class="latest-products">
            <ul class="latest-products-list">
                <li class="latest-products-item">
                    <article class="latest-product">
                        <img src="../img/" alt="cerea">
                        <h4>Cerea</h4>
                        <p>English Class Presentation</p>
                        <p>$6.00</p>
                        <button class="latest-product-btn" type="button">
                            <img src="../img/" alt="icon_cart">
                        </button>
                    </article>
                </li>
                <li class="latest-products-item">
                    <article class="latest-product">
                        <img src="../img/" alt="la-petite">
                        <h4>La Petite</h4>
                        <p>Handwritten Font</p>
                        <p>$10.00</p>
                        <button class="latest-product-btn" type="button">
                            <img src="../img/" alt="icon_cart">
                        </button>
                    </article>
                </li>
                <li class="latest-products-item">
                    <article class="latest-product">
                        <img src="../img/" alt="gaya">
                        <h4>Gaya</h4>
                        <p>Fashion Store Mobile App</p>
                        <p>$20.00</p>
                        <button class="latest-product-btn" type="button">
                            <img src="../img/" alt="icon_cart">
                        </button>
                    </article>
                </li>
                <li class="latest-products-item">
                    <article class="latest-product">
                        <img src="../img/" alt="retro-computer">
                        <h4>Retro Computer</h4>
                        <p>Planner Social Media Feeds</p>
                        <p>$8.00</p>
                        <button class="latest-product-btn" type="button">
                            <img src="../img/" alt="icon_cart">
                        </button>
                    </article>
                </li>
                <li class="latest-products-item">
                    <article class="latest-product">
                        <img src="../img/" alt="artverse">
                        <h4>ArtVerse</h4>
                        <p>AI Tools Website Design</p>
                        <p>$12.00</p>
                        <button class="latest-product-btn" type="button">
                            <img src="../img/" alt="icon_cart">
                        </button>
                    </article>
                </li>
                <li class="latest-products-item">
                    <article class="latest-product">
                        <img src="../img/" alt="hazzel">
                        <h4>Hazzel</h4>
                        <p>Business School Presentation</p>
                        <p>$6.00</p>
                        <button class="latest-product-btn" type="button">
                            <img src="../img/" alt="icon_cart">
                        </button>
                    </article>
                </li>                
            </ul>
        </div>
    </div>
</section>