<section class="promo">
    <div class="container">
        <div class="promo-designs">
            <div>
                <p>New Week,
                    New Designs
                </p>
                <p>
                    Enjoy a special 15% discount on all our Design Assets for our weekly collection, available right away within this month promotion.
                </p>
                <button type="button">Shop Now</button>
            </div>
            <div class="promo-designs-images">
                <ul class="promo-design-images-list">
                    <li class="promo-design-img-item">
                        <img src="../img/" alt="img_one">
                    </li>
                    <li class="promo-design-images-item">
                        <img src="../img/" alt="img_two">
                    </li>
                    <li class="promo-design-images-item">
                        <img src="../img/" alt="img_three">
                    </li>
                    <li class="promo-design-images-item">
                        <img src="../img/" alt="img_four">
                    </li>
                    <li class="promo-design-images-item">
                        <img src="../img/" alt="img_five">
                    </li>
                </ul>
            </div>
        </div>
        <div class="promo-invitation">
            <p>Refer A
                Friend,
                Earn A
                Reward!
            </p>
            <button type="button">Get Your Code</button>
        </div>
    </div>
</section>