<section class="staff-picks">
    <div class="container">
        <h2 class="title">STAFF PICKS</h2>
        <h3 class="subtitle">Best Design Works
            Curated by Our Experts
        </h3>
        <div class="staff-picks-best-works">
            <ol class="staff-picks-best-works-list">
                <li class="staff-picks-best-works-item">
                    <img src="../img/" alt="img_gignation">
                    <p>GigNation</p>
                    <div>
                        <p>Freelancer & Project Marketplace</p>
                        <p>Website Design</p>
                        <button type="button">
                            <img src="../img/" alt="icon_cart">
                        </button>
                    </div>
                </li>
                <li class="staff-picks-best-works-item">
                    <img src="../img/" alt="img_elegant">
                    <p>Elegant</p>
                    <div>
                        <p>Business Feeds </p>
                        <p>Social Media</p>
                        <button type="button">
                            <img src="../img/" alt="icon_cart">
                        </button>
                    </div>
                </li>
                <li class="staff-picks-best-works-item">
                    <img src="../img/" alt="img_syrios">
                    <p>Syrios</p>
                    <div>
                        <p>Business Plan</p>
                        <p>Presentation</p>
                        <button type="button">
                            <img src="../img/" alt="icon_cart">
                        </button>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>