<section class="trending">
    <div class="container">
        <h2>TRENDING</h2>
        <p>Popular Products</p>
        <div class="trending-scrollbar">
            <img src="../img/" alt="<">
            <img src="../img/" alt=">">
        </div>
        <div class="trending-product-info">
            <ul class="trending-list">
                <li class="trending-item">
                    <article class="trending-product">
                        <img src="../img/" alt="Biztar">
                        <h3>Biztar</h3>
                        <span>$12.00</span>
                        <p>Business Consultant</p>
                        <p>UI Kits</p>
                        <button class="trending-product-btn" type="button">
                            <img src="../img/" alt="icon_cup">
                        </button>
                    </article>                
                </li>
                <li class="trending-item">
                    <article class="trending-item">
                        <img src="../img/" alt="Auxell">
                        <h3>Auxell</h3>
                        <span>$8.00</span>
                        <p>Company Proposal</p>
                        <p>Print Template</p>
                        <button class="trending-product-btn" type="button">
                            <img src="../img/" alt="icon_cup">
                        </button>
                    </article>          
                </li>
                <li class="trending-item">
                    <article class="trending-item">
                        <img src="../img/" alt="Phitaya">
                        <h3>Phitaya</h3>
                        <span>$10.00</span>
                        <p>Handwritten Font</p>
                        <p>Fonts</p>
                        <button class="trending-product-btn" type="button">
                            <img src="../img/" alt="icon_cup">
                        </button>
                    </article>   
                </li>
                <li class="trending-item">
                    <article class="trending-item">
                        <img src="../img/" alt="Rachelle">
                        <h3>Rachelle</h3>
                        <span>$16.00</span>
                        <p>Media Kit</p>
                        <p>Presentation</p>
                        <button class="trending-product-btn" type="button">
                            <img src="../img/" alt="icon_cup">
                        </button>
                    </article>   
                </li>
            </ul>
        </div>
    </div>
</section>